# Go
*.test
*.out
*.log
bin/
dist/
coverage.*

# Vault plugin binaries
vault-plugin-auth-gmsa
vault-plugin-auth-gmsa-alpine
*.exe
*.dll
*.dylib
*.so

# OS/editor
.DS_Store
.idea/
.vscode/
vault-plugin-auth-gmsa-linux
